.coding header {
	margin-bottom: 0;
}
.coding main {
	display: flex;
	flex-wrap: wrap;
	grid-template-columns: 1fr 1fr;
	margin-top: 0;
	justify-content: stretch;
}

.coding h3 {
	font-weight: normal;
}

.card {
	border-bottom: 1px dashed black;
	border-top: 1px solid black;
	padding: 1rem;
	margin: 2%;
	min-width: 250px;
	width: 40%;
}

.card .card-header {
	text-transform: uppercase;
	font-size: 1.5rem;
	margin-bottom: 1rem;
	padding-bottom: 0.5rem;
	border-bottom: 5px solid black;
}

.card .card-tags {
	font-style: italic;
	font-size: 1rem;
	padding-bottom: 1.5rem;
}
.card-body p span {
	font-size: 1.5rem;
}