.writing main {
	display: flex;
}

.sidebar {
	margin: 3rem;
	background-color: black;
}

.sidebar p {
	text-transform: uppercase;
	color: white;
	padding: 1rem;
	cursor: pointer;
}

.sidebar p:hover, .sidebar .selected {
	background-color: white;
	color: black;
}

.writing-credit {
	display: none;
}

.writing-credit.show {
	display: block;
}

.writing-credit img {
	width: 800px;
}

.writing-credit video, .writing-credit iframe {
	display: block;
	margin-bottom: 2rem;
}
