@import './fonts.css';

.header-item {
	font-size: 2.5rem;
    padding: 0 2.5rem;
    transition: font 0.3s ease;

    &:hover {
    	font-size: 3rem;
    }
}

.header-item-big {
	font-size: 4rem;
	text-transform: uppercase;
	font-family: var(--header);
	letter-spacing: 0.25rem;

	&:hover {
		font-size: 4rem;
	}
}